In [2]:
import pandas as pd
import numpy as np

In [3]:
bus1 = pd.read_csv("data/business.csv")
bus2 = pd.read_csv("data/business2.csv")
cul1 = pd.read_csv("data/culture.csv")
cul2 = pd.read_csv("data/culture2.csv")
evnt1 = pd.read_csv("data/event.csv")
evnt2 = pd.read_csv("data/event2.csv")
evnt3 = pd.read_csv("data/event3.csv")
evnt4 = pd.read_csv("data/event4.csv")
evnt5 = pd.read_csv("data/event5.csv")
evnt6 = pd.read_csv("data/event6.csv")
evnt7 = pd.read_csv("data/event7.csv")
evnt8 = pd.read_csv("data/event8.csv")
evnt9 = pd.read_csv("data/event9.csv")
evnt10 = pd.read_csv("data/event10.csv")
evnt11 = pd.read_csv("data/event11.csv")
evnt12 = pd.read_csv("data/event12.csv")
evnt13 = pd.read_csv("data/event13.csv")
law = pd.read_csv("data/law.csv")
politics = pd.read_csv("data/politics.csv")
press1 = pd.read_csv("data/pressdigest.csv")
press2 = pd.read_csv("data/pressdigest2.csv")
sport1 = pd.read_csv("data/sport.csv")
sport2 = pd.read_csv("data/sport2.csv")
sport3 = pd.read_csv("data/sport3.csv")
sport4 = pd.read_csv("data/sport4.csv")
sport5 = pd.read_csv("data/sport5.csv")
sport6 = pd.read_csv("data/sport6.csv")
other = pd.read_csv("data/other.csv")

In [4]:
business = pd.concat([bus1, bus2], axis=0)
business["category"] = 0
business

,title,date,content,category
0,«Գազպրոմը» 2021 թվականին ռեկորդային ծավալով գա...,2021-09-20 18:52:00,Ռուսական «Գազպրոմ» ընկերությունը 2021 թվականի...,0
1,«Հայաստան 2020» ծրագրի նախաձեռնողները ներկայաց...,2021-09-20 19:26:00,Սեպտեմբերի 19-ին Երևանում կայացավ «Հայաստան 20...,0
2,Երևանում կասեցվել է հացի արտադրամասի գործունեո...,2021-09-13 12:06:00,ՀՀ սննդամթերքի անվտանգության տեսչական մարմնի Ե...,0
3,Եվրոպայում գազի գինը նոր ռեկորդ է սահմանել,2021-09-13 12:11:00,Եվրոպական շուկայում գազի գինը սահմանել է նոր ռ...,0
4,"Ալյումինի գինը նվազել է, պղնձի գինն` աճել. գու...",2021-09-04 11:05:00,Լոնդոնի մետաղների բորսայի սեպտեմբերի 3-ի առևտր...,0
...,...,...,...,...
16347,Քլինթոնները շարունակում է հարստանալ,2008-04-05 14:27:00,Սենատոր Հիլարի Քլինթոնը և նրա ամուսինը՝ ԱՄՆ-ի ...,0
16348,"Ոսկու շուկան դեռևս մեկ անգամ չէ, որ հաճելիորեն...",2008-04-05 15:56:00,Ոսկու գները նախորդ ամիս պատմության մեջ առաջին ...,0
16349,Ֆրանսիական Le Monde-ի լրագրողները գործադուլ կհ...,2008-04-09 15:30:00,Ֆրանսիական Le Monde թերթի խմբագրությունն իր պա...,0
16350,Merrill Lynch-ի վնասները հասել են 30 միլիարդ դ...,2008-04-10 14:28:00,ԱՄՆ-ի խոշորագույն ներդրումային բանկերից մեկը՝ ...,0
16351,ՎՏԲ բանկը մտադիր է 670 մլն դոլար ուղղորդել ԱՊՀ...,2008-04-10 15:55:00,ՎՏԲ բանկը մտադիր է 2008 թվականին 670 մլն դոլար...,0

In [5]:
culture = pd.concat([cul1, cul2], axis=0)
culture["category"] = 1
culture

,title,date,content,category
0,Ֆիլիպ Կիրկորովը ժամանել է Երևան,2021-09-17 16:03:00,"Ռուսական էստրադայի երգիչ, ՌԴ ժողովրդական արտիս...",1
1,«Կյանքիս մեծագույն պատիվներից էր». Հուզված Դեն...,2021-09-18 14:50:00,Գաղտնի գործակալ Ջեյմս Բոնդի դերը խաղացած Դենիե...,1
2,Մոսկվայում տեղի կունենան Առնո Բաբաջանյանի 100-...,2021-09-09 21:05:00,Ռուսաստանի մայրաքաղաք Մոսկվայում սեպտեմբերի 13...,1
3,Իմացե՛ք ձեր իրավունքները. Ջոլին Amnesty Intern...,2021-09-03 21:34:00,Հոլիվուդյան դերասանուհի Անջելինա Ջոլին հեղինակ...,1
4,Տեսողական խաբկանք. 18-ամյա ճապոնուհին զարմանահ...,2021-08-23 22:40:00,Ճապոնացի նկարչուհի Կեյտոն մեծ ուշադրության է ա...,1
...,...,...,...,...
9870,Հայաստան է ժամանում ՌԴ ժողովրդական դերասան Վեն...,2008-04-15 16:02:00,Ապրիլի 18-22-ը Հայաստան կժամանի ՌԴ ժողովրդական...,1
9871,Հռոմի Պապն ամաչում է կաթոլիկ քահանաների պահված...,2008-04-15 19:21:00,Այսօր սկսվել է Հռոմի Պապ Բենեդիկտոս 16-րդի առա...,1
9872,Նիկոլայ Կարաչենցևին հիվանդանոց են տեղափոխել,2008-04-07 12:06:00,Դերասան Նիկոլայ Կարաչենցևին որովայնի սուր ցավե...,1
9873,The Washington Post պարբերականը ստացել է վեց Պ...,2008-04-08 11:50:00,The Washington Post պարբերականը երկուշաբթի արժ...,1
9874,Վիսբադենում բացվում է Սերգեյ Փարաջանովի լուսան...,2008-04-07 14:19:00,Այսօր «goEast» 8-րդ միջազգային կինոփառատոնի շր...,1

In [6]:
events = pd.concat([evnt1, evnt2, evnt3, evnt4, evnt5, evnt6, evnt7, evnt8, evnt9, evnt10, evnt11, evnt12, evnt13], axis=0)
events["category"] = 2
events

,title,date,content,category
0,Մինչ այս պահը պարզվել է Արցախում Ադրբեջանի զին...,2021-09-28 12:55:00,Արցախի ՄԻՊ-ը հրապարակել է քաղաքացիական անձանց ...,2
1,Առաջին անգամ Հայաստանում և Հարավկովկասյան տարա...,2021-09-28 13:03:00,Հայաստանի հեռահաղորդակցության առաջատար օպերատո...,2
2,55-ամյա քաղաքացին վիճաբանության ընթացքում խոհա...,2021-09-27 10:53:00,"Սեպտեմբերի 26-ին, ժամը 00.13-ին, ոստիկանության...",2
3,"Ոստիկանության աշխատակցի Opel-ը, մի քանի պտույտ...",2021-09-27 23:19:00,Սեպտեմբերի 26-ին խոշոր ավտովթար է տեղի ունեցել...,2
4,Երևանի Գալինա Ստարովոյտովայի անվան թիվ 177 դպր...,2021-09-27 18:08:00,"Սեպտեմբերի 27-ին, 44-օրյա պատերազմից մեկ տարի...",2
...,...,...,...,...
14978,Պակիստանում զոհերի թիվն աճում է,2008-09-21 14:57:00,Պակիստանի մայրաքաղաք Իսլամաբադում տեղի ունեցած...,2
14979,Չինաստանում հրդեհի արդյունքում զոհվել են տասնյ...,2008-09-21 15:17:00,Չինաստանի հարավում գտնվող Գուանդոն նահանգի Շեն...,2
14980,Իրաքում ահաբեկչական գործողությունների հետևանքո...,2008-09-22 10:04:00,Իրաքի հյուսիսում իրականացված երկու ահաբեկչությ...,2
14981,Իսպանիան հայտնվել է ահաբեկչությունների կիզակետում,2008-09-22 10:14:00,Իսպանիայի հյուսիսում գտնվող Օնդառոա քաղաքում գ...,2
14982,Չինաստանում ավելի քան 13 հազ. մանուկներ են տեղ...,2008-09-22 11:33:00,"Չինաստանում, ըստ վերջին տվյալների, ավելի քան 1...",2

In [7]:
law["category"] = 3
politics["category"] = 4

In [8]:
press_digest = pd.concat([press1, press2], axis=0)
press_digest["category"] = 5
press_digest

,title,date,content,category
0,«Ժողովուրդ»․ Կառավարության անդամները կգնան խոր...,2021-09-24 09:16:00,««Ժողովուրդ» օրաթերթի տեղեկություններով՝ հայրե...,5
1,"«Հրապարակ»․ Հայաստանում, ինչպես Գերմանիայում. ...",2021-09-23 08:40:00,«Սեպտեմբերի 21-ին Փաշինյանի ելույթի ուղերձը՝ «...,5
2,«Փաստ»․ Արթուր Ղազինյանի ջանքերով և մասնակցութ...,2021-09-23 08:50:00,«Իշխանությունները ջանասիրաբար տապալում են Արթո...,5
3,«Հրապարակ»․ Հանրային պարսավանքի արդյունքում «գ...,2021-09-21 07:40:00,"«Մեր տեղեկություններով, Նիկոլ Փաշինյանը հանձն...",5
4,«Իրավունք». Արարատում իշխանության սցենարները փ...,2021-09-17 09:26:00,«Մեր օրերում հայտնի ֆիլմի մոտիվներով ոչ թե Նաջ...,5
...,...,...,...,...
18767,"«Ժամանակ». Թասիբ ունեցիր, հրաժարական տուր",2009-03-05 11:37:00,Մեր տեղեկություններով՝ երեկ կոալիցիայում բավակ...,5
18768,«Առավոտ». Այլընտրանքը սոցիալական բունտն է,2009-03-06 11:13:00,Ես միշտ զարմացել եմ և շարունակում եմ զարմանալ՝...,5
18769,«Կապիտալ». Սրընթաց վայրէջքին պատրաստ,2009-03-06 11:14:00,Այս տարվա հունվարին Հայաստանի անշարժ գույքի շո...,5
18770,"«Չորրորդ իշխանություն». Չի մերժի, բայց կտա՞",2009-03-06 11:16:00,Մեր աղբյուրների փոխանցմամբ՝ մարտի 4-ի դրությամ...,5
18771,«Հայկական ժամանակ». Նա էլ հրաժարվեց,2009-03-06 11:17:00,Արմեն Ռուստամյանը հրաժարվել է զբաղեցնել մայիսի...,5

In [9]:
sport = pd.concat([sport1, sport2, sport3, sport4, sport5, sport6], axis=0)
sport["category"] = 6
sport

,title,date,content,category
0,Արոնյանը հաղթել է Champions Chess Tour Finals-...,2021-09-27 11:20:00,"Գրոսմայստեր Լևոն Արոնյանը, ով դեռ հանդես է գալ...",6
1,"Բարդ խաղ էր, բայց կարևորը հաղթեցինք. Մխիթարյան...",2021-09-24 09:49:00,Հայաստանի ազգային հավաքականի և «Ռոմայի» կիսաապ...,6
2,Մեսսին իր արդյունավետությամբ ծածկում էր թիմի բ...,2021-09-22 13:16:00,«Բարսելոնայի» գլխավոր մարզիչ Ռոնալդ Կումանը կի...,6
3,Մեսսին կարող է բաց թողնել հերթական հանդիպումը,2021-09-24 12:07:00,Լեո Մեսսին վնասվածքի պատճառով կարող է բաց թողն...,6
4,Յուվենտուսը հրաժարվել է Պոգբային գնելու մտքից,2021-09-20 22:02:00,«Յուվենտուսը» չի պլանավորում վերսկսել ՄՅՈՒ-ի ...,6
...,...,...,...,...
13296,Ռեհագելը համաձայնեց երկարաձգել պայմանագիրը,2008-03-28 12:47:00,Հունաստանի ֆուտբոլի ազգային հավաքականի գլխավոր...,6
13297,ATP-ի չեմպիոնական պայքար. Նալբանդյանը բարձրացա...,2008-03-24 16:41:00,Մարտի 24-ին հրապարակվեց ATP Race-ի տղամարդկանց...,6
13298,Իսպանացի կարգազանցը զրկեց հրեա երկրպագուին 12 ...,2008-03-24 17:00:00,"Պլաստիկ շիշը, որը Իսպանիայի առաջնության խաղերի...",6
13299,Ստալինին ու Եսենինին կարելի է տեսնել Ռումինիա ...,2008-03-24 17:09:00,Ռումինական «Անտենա 1» հեռուսատաալիքը հետաքրքիր...,6
13300,Հարավային ու Հյուսիսային Կորեաները կխաղան չեզո...,2008-03-24 17:20:00,Աշխարհի 2010 թվականի ֆուտբոլի առաջնության ընտր...,6

In [10]:
other["category"] = 8
corona = pd.read_csv("data/corona.csv")
corona["category"] = 7

In [11]:
tert_am = pd.concat([business, culture, events, law, politics, press_digest, sport, corona, other])
tert_am

,title,date,content,category
0,«Գազպրոմը» 2021 թվականին ռեկորդային ծավալով գա...,2021-09-20 18:52:00,Ռուսական «Գազպրոմ» ընկերությունը 2021 թվականի...,0
1,«Հայաստան 2020» ծրագրի նախաձեռնողները ներկայաց...,2021-09-20 19:26:00,Սեպտեմբերի 19-ին Երևանում կայացավ «Հայաստան 20...,0
2,Երևանում կասեցվել է հացի արտադրամասի գործունեո...,2021-09-13 12:06:00,ՀՀ սննդամթերքի անվտանգության տեսչական մարմնի Ե...,0
3,Եվրոպայում գազի գինը նոր ռեկորդ է սահմանել,2021-09-13 12:11:00,Եվրոպական շուկայում գազի գինը սահմանել է նոր ռ...,0
4,"Ալյումինի գինը նվազել է, պղնձի գինն` աճել. գու...",2021-09-04 11:05:00,Լոնդոնի մետաղների բորսայի սեպտեմբերի 3-ի առևտր...,0
...,...,...,...,...
11813,«Գրեմմի»-ի հնգակի մրցանակակիր The Swingles խմբ...,2019-04-30 12:43:00,«Երևանյան հեռանկարներ» միջազգային երաժշտական փ...,8
11814,"«Կազմակերպիչն արտիստներին չէր վճարել, սակայն կ...",2019-05-22 14:00:00,Մայիսի 26-ին Շառլ Ազնավուրի 95-ամյակին նվիրված...,8
11815,Բեմական կյանքի 60 տարիները․ Ռոզի Արմենը ելույթ...,2019-05-28 11:49:00,28 տարվա ընդմիջումից հետո Ռոզի Արմենը Երևանու...,8
11816,Deep Purple-ի վոկալիստ Իէն Գիլանը և Black Sabb...,2019-06-05 15:16:00,Լեգենդար Deep Purple-ի վոկալիստ Իէն Գիլանը և B...,8
11817,Իէն Գիլանի ու Թոնի Այոմիի այցը Գյումրի. տնակնե...,2019-06-07 14:07:00,Այս օրերին Հայաստանում են գտնվում ռոքի աստղերը...,8

In [12]:
np.min(tert_am.date)

'2008-02-04 18:45:00'

In [13]:
np.max(tert_am.date)

'2021-09-29 19:02:00'

In [14]:
#tert_am.to_csv("data/tert_am.csv", index=False)
tert_am.title

0        «Գազպրոմը» 2021 թվականին ռեկորդային ծավալով գա...
1        «Հայաստան 2020» ծրագրի նախաձեռնողները ներկայաց...
2        Երևանում կասեցվել է հացի արտադրամասի գործունեո...
3               Եվրոպայում գազի գինը նոր ռեկորդ է սահմանել
4        Ալյումինի գինը նվազել է, պղնձի գինն` աճել. գու...
                               ...
11813    «Գրեմմի»-ի հնգակի մրցանակակիր The Swingles խմբ...
11814    «Կազմակերպիչն արտիստներին չէր վճարել, սակայն կ...
11815    Բեմական կյանքի 60 տարիները․ Ռոզի Արմենը ելույթ...
11816    Deep Purple-ի վոկալիստ Իէն Գիլանը և Black Sabb...
11817    Իէն Գիլանի ու Թոնի Այոմիի այցը Գյումրի. տնակնե...
Name: title, Length: 414432, dtype: object

In [15]:
arm_letters = list("ԷԹՓՁՋՐՉՃԺԾՇԽՊՕԻԸՏՌԵՈՔԱՍԴՖԳՀՅԿԼՆՄԲՑՎԶՂ") + ["ՈՒ"]
len(arm_letters)

38

In [16]:
NE_freq = tert_am.title.str.extractall("([ԷԹՓՁՋՐՉՃԺԾՇԽՊՕԻԸՏՌԵՈՔԱՍԴՖԳՀՅԿԼՆՄԲՑՎԶՂ]\w+)").value_counts()
NE_freq

ՀՀ                   13748
ԱՄՆ                  13281
Հայաստանի             8387
Հրապարակ              7819
Ժողովուրդ             7464
                     ...
Կուրորտաբանության        1
Կուրություն              1
Կուրս                    1
Կուրսկայա                1
Ֆրուտ                    1
Length: 64174, dtype: int64

In [17]:
NEF = pd.DataFrame(NE_freq)

In [18]:
NEF = NEF.rename_axis(["name"])

In [19]:
NEF = NEF.reset_index()
NEF

                    name      0
0                     ՀՀ  13748
1                    ԱՄՆ  13281
2              Հայաստանի   8387
3               Հրապարակ   7819
4              Ժողովուրդ   7464
...                  ...    ...
64169  Կուրորտաբանության      1
64170        Կուրություն      1
64171              Կուրս      1
64172          Կուրսկայա      1
64173              Ֆրուտ      1

[64174 rows x 2 columns]

In [20]:
np.sum(NEF[NEF.name.str.contains("Ռուս")].iloc[:, 1])

10185

In [21]:
np.sum(NEF[NEF.name.str.contains("Հայ")].iloc[:, 1])

38234

In [22]:
np.sum(NEF[NEF.name.str.contains("Ֆրանս")].iloc[:, 1])

4096

In [23]:
np.sum(NEF[NEF.name.str.contains("Գերման")].iloc[:, 1])

3123

In [24]:
np.sum(NEF[NEF.name.str.contains("Չին")].iloc[:, 1])

3796

In [25]:
np.sum(NEF[NEF.name.str.contains("Նիկոլ")].iloc[:, 1])

5063

In [26]:
np.sum(NEF[NEF.name.str.contains("Սերժ")].iloc[:, 1])

2773

In [27]:
np.sum(NEF[NEF.name.str.contains("Ծառուկյան")].iloc[:, 1])

1249

In [28]:
np.sum(NEF[NEF.name.str.contains("Քոչարյան")].iloc[:, 1])

1898

In [29]:
53.95 /21.11 # Nikol vs Kocharyan votes last election

2.5556608242539083

In [30]:
np.sum(NEF[NEF.name.str.contains("Նիկոլ")].iloc[:, 1]) / np.sum(NEF[NEF.name.str.contains("Քոչարյան")].iloc[:, 1])

2.66754478398314

Wow

In [31]:
53.95 / 5.22 # Nikol vs Vanetsyan votes last election

10.335249042145595

In [32]:
np.sum(NEF[NEF.name.str.contains("Նիկոլ")].iloc[:, 1]) / np.sum(NEF[NEF.name.str.contains("Վանեցյան")].iloc[:, 1])

9.341328413284133

In [33]:
np.sum(NEF[NEF.name.str.contains("Ադրբեջ")].iloc[:, 1])

7825

In [34]:
tert_am[tert_am.content.str.contains("Ադրբեջ").fillna(False)].category.value_counts()

2    13646
4     4643
5     1734
0     1052
6      896
3      426
1      290
7      185
8      125
Name: category, dtype: int64

In [35]:
tert_am.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 414432 entries, 0 to 11817
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   title     414432 non-null  object
 1   date      414432 non-null  object
 2   content   413325 non-null  object
 3   category  414432 non-null  int64
dtypes: int64(1), object(3)
memory usage: 15.8+ MB

In [36]:
tert_am["date"] = pd.to_datetime(tert_am["date"])

In [37]:
np.sum(tert_am.content.str.contains(" ա ", case=False))

3338

In [38]:
np.sum(tert_am.content.str.contains(" է ", case=False))

399732

In [39]:
np.sum((tert_am.content.str.contains(" է ", case=False)) | tert_am.content.str.contains(" ա ", case=False)) - np.sum(tert_am.content.str.contains(" է ", case=False))

152

In [40]:
np.sum(tert_am.content.str.contains("կրոն", case=False) | tert_am.content.str.contains("եկեղեցի", case=False) | tert_am.content.str.contains("քրիստոն", case=False) | tert_am.content.str.contains("Մայր Աթոռ", case=False))

9171

In [41]:
np.sum(tert_am.content.str.contains("հայրենիք", case=False) | tert_am.content.str.contains("հայաստան", case=False) | tert_am.content.str.contains(" հող ", case=False))

103326

In [42]:
np.sum(tert_am.content.str.contains("լեզու", case=False) | tert_am.content.str.contains("գիրք", case=False) | tert_am.content.str.contains(" մշակու", case=False) | tert_am.content.str.contains("դպրոց", case=False) | tert_am.content.str.contains("հայերեն", case=False))

29127

In [43]:
np.sum(tert_am.content.str.contains("ԱՄՆ", case=False) | tert_am.content.str.contains("ամերիկ", case=False))

78234

In [44]:
np.sum(tert_am.content.str.contains("Ռուս", case=False))

74837

In [45]:
np.sum(tert_am.content.str.contains("Ադրբեջ", case=False))

27302

In [46]:
np.sum(tert_am.content.str.contains("Հայ", case=False))

306526

In [47]:
np.sum(tert_am.content.str.contains("Թուրք", case=False))

25979

In [48]:
np.sum(tert_am.content.str.contains("ֆրանս", case=False))

22972

In [49]:
np.sum(tert_am.content.str.contains("Գերման", case=False))

18661

In [50]:
np.sum(tert_am.content.str.contains("Չին") | tert_am.content.str.contains("չին"))

33163

In [51]:
np.sum(tert_am.content.str.contains("եվրոպ") | tert_am.content.str.contains("Եվրոպ"))

28597

In [52]:
np.sum(tert_am.content.str.contains("Ասիա") | tert_am.content.str.contains("ասիա"))

6521

In [53]:
np.sum(tert_am.content.str.contains("վրաստան", case=False) | tert_am.content.str.contains("վրաց", case=False))

13335

In [54]:
np.sum(tert_am.content.str.contains("իրան") | tert_am.content.str.contains("պարս"))

9131

In [55]:
# dfs = [business, culture, events, law, politics, press_digest, sport, corona, other]
# df_names = ["business", "culture", "events", "law", "politics", "press_digest", "sport", "corona", "other"]
# for i in range(len(dfs)):
#     dfs[i].to_csv(f"data/aggr/{df_names[i]}.csv", index = False)

In [56]:
np.sum(tert_am.content.str.contains(" գ ", case=False))

178

In [57]:
np.sum(tert_am.content.str.contains(" եկ ", case=False))

12

In [58]:
np.sum(tert_am.content.str.contains(" մը ", case=False))

50

In [59]:
np.sum(tert_am.content.str.contains(" արցախ ", case=False))

988

In [60]:
np.sum(tert_am.content.str.contains(" ղարաբաղ ", case=False))

387

In [61]:
np.sum(tert_am.content.str.contains(" քելբաջար ", case=False))

6

In [62]:
np.sum(tert_am.content.str.contains(" քարվաճառ ", case=False))

72

In [63]:
np.sum(tert_am.content.str.contains(" աղդամ ", case=False))

15

In [64]:
np.sum(tert_am.content.str.contains(" ակնա ", case=False))

26

In [65]:
np.sum(tert_am.content.str.contains(" էրզրում ", case=False))

28

In [66]:
np.sum(tert_am.content.str.contains(" կարին ", case=False))

151

In [71]:
np.sum(tert_am.content.str.contains(" խաղաղ", case=False))

17276

In [73]:
np.sum(tert_am.content.str.contains(" պատերազմ ", case=False) | tert_am.content.str.contains(" թշնամ ", case=False) | tert_am.content.str.contains(" մարտեր ", case=False) | tert_am.content.str.contains(" մարտեր ", case=False))

2489

In [75]:
np.sum(tert_am.content.str.contains(" ուրախ", case=False) | tert_am.content.str.contains(" տոն", case=False))

24446

In [78]:
np.sum(tert_am.content.str.contains(" տխուր", case=False) | tert_am.content.str.contains(" հիշատակ", case=False) | tert_am.content.str.contains(" սուգ", case=False) | tert_am.content.str.contains(" սգո", case=False) | tert_am.content.str.contains(" տխր", case=False))

8493

In [80]:
np.sum(tert_am.content.str.contains("hերոս", case=False))

3

In [82]:
np.sum(tert_am.content.str.contains("դավաճ", case=False))

3101

In [83]:
np.sum(tert_am.content.str.contains("նախկին", case=False))

45384

In [84]:
np.sum(tert_am.content.str.contains("ներկա", case=False))

129028

In [85]:
np.sum(tert_am.content.str.contains("բարելավ", case=False))

6053

In [86]:
np.sum(tert_am.content.str.contains("վատթարա", case=False))

1817

In [87]:
np.sum(tert_am.content.str.contains("միօրինակ", case=False) | tert_am.content.str.contains("միանման", case=False))

222

In [88]:
np.sum(tert_am.content.str.contains("տարօրինակ", case=False) | tert_am.content.str.contains("բազմազան", case=False)| tert_am.content.str.contains("բազում", case=False) )

4781